@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
form {
  width: 40%;
  padding: 10px;
  border: 1px solid rgb(2, 2, 2);
}
ul {
  list-style: circle;
  padding: 0;
  margin-bottom: 0;
  width: 40%;
}
@media (max-width: 600px) {
  ul,
  form {
    width: 100%;
  }
}
li {
  display: flex;
  align-items: center;
  width: 100%;
}
a {
  display: flex;
  flex: 1;
}
li:not(:last-child) {
  margin-bottom: 15px;
}
label:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}
input {
  width: 100%;
}
input[name='filter'] {
  width: 40%;
  padding: 5px;
  border: 1px solid black;
}
span {
  margin-left: auto;
  margin-right: 20px;
}
button {
  padding: 10px;
  background-color: inherit;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.165);
  margin-left: auto;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  transition: all 0.1s ease-in-out;
}
button:active {
  background-color: #5a96f7;
  color: white;
  box-shadow: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus:hover,
  textarea:focus:hover,
  input:focus:hover {
    font-size: 16px;
    padding: 12px;
  }
}
